*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: #9da2e1;
    min-height: 100vh;
    border: black solid 10px;
}

.content{
    max-width: 900px;
    margin: 0 auto;
}
.top-section{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    align-items: flex-end;



}
.image-container{
    border-radius: 50%;
    overflow: hidden;
}

.image-container img{
    width: 300px;
    height: 320px;

}

.top-section h1{
    font-size: 50px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
}

.top-section h4{
    text-align: end;
    font-size: 30px;
}

.about-section h2{
    font-size: 70px;
    font-weight: 400;
    margin-bottom: 20px;
}

.about-section p{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.2px;
    text-align: justify;


}

.biography_section {
 margin-top: 50px;

}
.biography_section h3{
    margin-bottom: 20px;
}
.biography_section ul{
    margin-left: 50px;

}
.biography_section li{
    margin-bottom: 15px;
}

footer{
    margin: 50px 0;

}
footer p{
    text-align: end;
}